body{
    background-color: #FFFFFF;
}

#navbar-container{
    margin-top: -8px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: #F3EFFE;
}

.navbar-brand{
    color: #6E4AF6;
    font-size: 2rem;
    font-weight: bold;
}

.nav-link{
    color: #6E4AF6;
    font-weight: bold;
}

#btn-reservation{
    background-color: #6E4AF6;
    color: #FFFFFF;
}

#header{
    background-color: #F3EFFE;
}

#ball-header{
    padding-top: 200px;
}

.header-decor{
    position: absolute;
}

.decor-svg{
    animation: floatingAnimation 10s linear infinite;
}

@keyframes floatingAnimation {
    0% {
        transform: translateX(200%);
    }
    25% {
        transform: translateY(-20%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateY(150%);
    }
    100%{
        transform: translateX(200%);
    }
}

.decor-svg2{
    animation: floatingAnimation2 10s linear infinite;
}

@keyframes floatingAnimation2 {
    0% {
        transform: translateX(-50%);
    }
    25% {
        transform: translateY(150%);
    }
    50% {
        transform: translateX(200%);
    }
    75% {
        transform: translateY(-25%);
    }
    100%{
        transform: translateX(-50%);
    }
}

.decor-svg3{
    animation: floatingAnimation3 10s linear infinite;
}

@keyframes floatingAnimation3 {
    0% {
        transform: translateX(-10%);
    }
    25% {
        transform: translateY(150%);
    }
    50% {
        transform: translateX(-60%);
    }
    75% {
        transform: translateY(-75%);
    }
    100%{
        transform: translateX(-10%);
    }
}

.decor-svg4{
    animation: floatingAnimation4 10s linear infinite;
}

@keyframes floatingAnimation4 {
    0% {
        transform: translateX(60%);
    }
    25% {
        transform: translateY(-150%);
    }
    50% {
        transform: translateX(-25%);
    }
    75% {
        transform: translateY(150%);
    }
    100%{
        transform: translateX(60%);
    }
}

#bowling-ball{
    animation: rotateAnimation 1.25s ease;
    position: absolute;
}

@keyframes rotateAnimation {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-60%);
    }
    100%{
        transform: translateX(0);
    }
}

h1{
    animation: rotateAnimation2 1.25s ease;
}

@keyframes rotateAnimation2 {
    0% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(60%);
    }
    100%{
        transform: translateX(0);
    }
}

h2{
    animation: rotateAnimation3 1.25s ease;
}

@keyframes rotateAnimation3 {
    0% {
        transform: translateX(100%);
    }
    50% {
        transform: translateX(-60%);
    }
    100%{
        transform: translateX(0);
    }
}

#arrow{
    animation: rotateAnimation4 1s ease;
}

@keyframes rotateAnimation4 {
    0% {
        transform: translateY(50%);
    }
    50% {
        transform: translateY(-10%);
    }
    100%{
        transform: translateY(0);
    }
}

#header-title{
    color: #8F73F9;
    font-weight: bolder;
    font-size: 4rem;
}

#header-text{
    color: #3826A4;
    font-weight: bolder;
    font-size: 1rem;
}

.button{
    width: min-content;
}

.button:hover{
    transition: 1000ms;
    scale: 110%;
    cursor: pointer;
    .third{
        transition: 50000ms;
        transform: translate(-25px,25px);
    }
    .forth{
        transition: 50000ms;
        transform: translate(-30px,30px);
    }
}

#arrow{
    padding-bottom: 250px;
}

.first{
    width: 50px;
    height: 50px;
    border: 1.5px solid black;
    rotate: 45deg;
}

.second{
    margin:10.5px;
    width: 25px;
    height: 25px;
    border: 1.5px solid black;
}

.third{
    margin-top: -40px;
    width: 50px;
    height: 50px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    rotate: -45deg;
}

.forth{
    margin-top: -40px;
    width: 50px;
    height: 50px;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    rotate: -45deg;
}

#cards{
    background-color: #FFFFFF;
    padding: 40px;
}

h3{
    color: #6E4AF6;
    font-weight: bold;
    padding-top: 25%;
}

p{
    color: #3826A4;
}

.img-fluid{
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}


#col-text{
    border-left: 3px solid #6E4AF6;
}

#col-text2{
    border-right: 3px solid #6E4AF6;
}